{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Profile Dosen & Karyawan <br>STKIP SURYA</h1>
                            <div class="description">
                            	<h4>
	                            	List data profile Dosen dan Karyawan STKIP SURYA
                            	</h4>
                            </div>
                        </div>
                    </div>
 </div>
 <div id="portfolio" class="gallery">
		<div class="container">
				<script src="{{ asset('bundles/profile/js/jquery.chocolat.js') }}" type="text/javascript"></script>
				<script src="{{ asset('bundles/profile/js/modernizr.custom.97074.js') }}" type="text/javascript"></script>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
				{% for person in persons %}
					<li>
						<a href="{{ path('person_show_profile', {'id': person.profile.id}) }}" class=" b-animate-go thickbox img-thumbnail">
							<img src="{{ asset('images/dosen/') }}{{ person.profile.foto }}" alt="" />
							<div>
								
								<h5>{{ person.profile.name }}</h5>
								<h6>{{ person.profile.position }}</h6>
							</div>
						</a>
					</li>
				{% endfor %}
				</ul>
			</section>
				<script src="{{ asset('bundles/profile/js/jquery.hoverdir.js') }}" type="text/javascript"></script>
				<script type="text/javascript">
					$(function() {
						$('#da-thumbs > li').each( function() { $(this).hoverdir(); } );
					});
				</script>
        </div>
</div>
{% endblock %}
