{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="col-sm-3 col-md-3 sidebar text-left">
			 <div class="details">
			 <br>
				 <h3>{{ profile.name }}</h3> 
				 {% if profile.foto %}
					<img src="{{ asset('images/dosen/') }}{{ profile.foto }}" alt=""/>
				{% else %}
					<img src="{{ asset('images/dosen/profile.png') }}" alt=""/>
				{% endif %}
			 </div>
			<div class="details">
				<address>
				 <h3>POSISI/JABATAN</h3>
				 <span>{{ profile.position }}</span>
				 </address>
				<address>
				 <h3>PHONE</h3>
				 <span>+{{ profile.phone }}</span>
				 </address>
				 <address>
				<h3>EMAIL</h3>
				<span>{{ profile.email }}</span>
				</address>
				 <address>
				 <h3>ADDRESS</h3>
				 <span>{{ profile.address }}</span>
				 </address>
				 <address>
				 <h3>ABOUT</h3>
				 <span>{{ profile.about }}</span>
				 </address>
			</div>
			<div class="clearfix"></div>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main text-left">
		 <div class="content">
			 <div class="company">
				 <h3 class="clr1">Pengalaman Kerja Sebelumnya</h3>
				 {% for work in profile.user.workexperience %}
				 <div class="company_details">
					 <h4>{{ work.company }} <span>{{ work.syear|date('d-M-Y') }} - {{ work.eyear|date('d-M-Y') }}</span></h4>
					 <h6>{{ work.position }}</h6>
					 <p class="cmpny1 text-left">{{ work.about }}</p>
				 </div>
				 {% endfor %}
			 </div>
			 <div class="skills">
				 <h3 class="clr2">Minat & Keahlian</h3>
				 <div class="skill_info text-left">
				 <p>{{ profile.expertise }}</p>
				 <p class="cmpny1"></p>
				 </div>
			 </div>
			 <div class="education">
				 <h3 class="clr3">Pendidikan</h3>
				 {% for edu in profile.user.education %}
				 <div class="education_details">
					 <h4>{{ edu.institution }}<span>{{ edu.syear|date("M-Y") }} - {{ edu.eyear|date("M-Y") }}</span></h4>
					 <h6 class="text-left">{{ edu.level }}</h6>
					 <p class="cmpny1"></p>
				 </div>
				 {% endfor %}
			 </div>
			 <div class="company">
				 <h3 class="clr1">List Youtube Video</h3>
				 {% for url in profile.user.url %}
				 <div class="company_details">
					 <h4>{{ url.title }}</h4>
					 <div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="{{ url.url }}"></iframe>
					</div>
					 <p class="cmpny1 text-left"></p>
				 </div>
				 {% endfor %}
			 </div>
		 </div>
	</div>
</div>
{% endblock %}
