{% extends 'baseUser.html.twig' %}

{% block body %}
<div class="container">
<br>

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class=" alert alert-success" id="message-session">
{{ flashMessage }}
</div>
{% endfor %}
  <h2>Edit Profile</h2>
  <hr/>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">Data Personal</a></li>
    <li><a href="#menu1">Riwayat Pendidikan</a></li>
    <li><a href="#menu4">Pengalaman Kerja</a></li>
    <li><a href="#menu2">Minat & Keahlian</a></li>
    <li><a href="#menu3">Video URL</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Data Personal</h3>
      <p>Deskrpsikan tentang Anda, agar orang lain dapat mengenal siapa Anda.</p>
      {% if profile.foto %}
			<img src="{{ asset('images/dosen/') }}{{ profile.foto }}" class="img img-responsive img-thumbnail">
      {% endif %}
      <br><hr>
      <div class="text-left">
      {{ form_start(form) }}
						{{ form_errors(form) }}
								<div class="form-group">
									<label>Foto Profile (jika foto tidak ingin diupdate, biarkan kosong):</label>
									{{ form_widget(form.file) }}
									{{ form_errors(form.file) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Nama Lengkap:</label>
								{{ form_widget(form.name) }}
								
								{{ form_errors(form.name) }}
								</div>
								<div class="form-group">
								<label>Posisi saat ini di STKIP:</label>
								{{ form_widget(form.position) }}
								
								{{ form_errors(form.position) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Tempat Kelahiran:</label>
								{{ form_widget(form.pob) }}
								
								{{ form_errors(form.pob) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Tanggal Lahir:</label>
								{{ form_widget(form.dob) }}
								
								{{ form_errors(form.dob) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Alamat Email:</label>
								{{ form_widget(form.email) }}
								
								{{ form_errors(form.email) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Nomor Telephone atau Hp:</label>
								{{ form_widget(form.phone) }}
								
								{{ form_errors(form.phone) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Alamat tinggal:</label>
								{{ form_widget(form.address) }}
								
								{{ form_errors(form.address) }}
								</div>
								<div class="form-group">
								<label for="exampleInputEmail1">Tentang Anda:</label>
								{{ form_widget(form.about) }}
								
								{{ form_errors(form.about) }}
								</div>
						<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
						{{ form_row(form._token) }}
						{{ form_end(form) }}
		</div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Riwayat Pendidikan</h3>
      <p>Tuliskan riwayat pendidikan Anda.</p>
      <div class="text-left">
		{{ form_start(edu) }}
		{{ form_errors(edu) }}
			<div class="form-group">
				<label for="exampleInputEmail1">Institusi:</label>
				{{ form_widget(edu.institution) }}
				{{ form_errors(edu.institution) }}
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Tingkatan:</label>
				{{ form_widget(edu.level) }}
				{{ form_errors(edu.level) }}
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Tahun Masuk:</label>
				{{ form_widget(edu.syear) }}
				{{ form_errors(edu.syear) }}
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Tahun Selesai:</label>
				{{ form_widget(edu.eyear) }}
				{{ form_errors(edu.eyear) }}
			</div>
			<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
		{{ form_row(edu._token) }}
		{{ form_end(edu) }}
      </div>
      <br>
      <hr>
      <div class="panel panel-info">
	  <div class="panel-heading"><h3>Riwayat Pendidikan</h3></div>
	  {% set i = 0 %}
	  {% for educ in app.user.education %}
			<ul class="list-group text-left">
				<li class="list-group-item">Nama Institusi: {{ educ.institution }}</li>
				<li class="list-group-item">Tingkatan: {{ educ.level }}</li>
				<li class="list-group-item">Tahun Masuk: {{ educ.syear|date('d-m-Y') }}</li>
				<li class="list-group-item">Tahun Selesai: {{ educ.eyear|date('d-m-Y') }}</li>
			</ul>
			<div class="panel-body edu-strip">
			</div>
		{% set i = i + 1 %}
		{% endfor %}
		{% if i == 0 %}
			<div class="panel-body edu-strip">Data Riwayat Pendidikan Masih Kosong</div>
		{% endif %}
	</div>
    </div>
    <div id="menu4" class="tab-pane fade">
      <h3>Pengalaman Kerja</h3>
      <p>Tuliskan pengalaman kerja yang Anda miliki.</p>
      <div class="text-left">
      {{ form_start(work) }}
      {{ form_errors(work) }}
			<div class="form-group">
			<label for="exampleInputEmail1">Nama Perusahaan:</label>
				{{ form_widget(work.company) }}
				{{ form_errors(work.company) }}
			</div>
			<div class="form-group">
			<label for="exampleInputEmail1">Jabatan/Posisi:</label>
				{{ form_widget(work.position) }}
				{{ form_errors(work.position) }}
			</div>
			<div class="form-group">
			<label for="exampleInputEmail1">Deskripsi Pekerjaan:</label>
				{{ form_widget(work.about) }}
				{{ form_errors(work.about) }}
			</div>
			<div class="form-group">
			<label for="exampleInputEmail1">Tahun Masuk:</label>
				{{ form_widget(work.syear) }}
				{{ form_errors(work.syear) }}
			</div>
			<div class="form-group">
			<label for="exampleInputEmail1">Tahun Keluar:</label>
				{{ form_widget(work.eyear) }}
				{{ form_errors(work.eyear) }}
			</div>
			<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
      {{ form_row(work._token) }}
      {{ form_end(work) }}
      </div>
		  <br>
		  <hr>
		  <div class="panel panel-info">
		  <div class="panel-heading"><h3>Pengalaman Kerja</h3></div>
		  {% set i = 0 %}
		  {% for work in app.user.workexperience %}
				<ul class="list-group text-left">
					<li class="list-group-item">Nama Perusahaan: {{ work.company }}</li>
					<li class="list-group-item">Posisi atau Jabatan: {{ work.position }}</li>
					<li class="list-group-item">Deskripsi Pekerjaan: {{ work.about }}</li>
					<li class="list-group-item">Tahun Masuk: {{ work.syear|date('d-m-Y') }}</li>
					<li class="list-group-item">Tahun Keluar: {{ work.eyear|date('d-m-Y') }}</li>
				</ul>
				<div class="panel-body edu-strip">
				</div>
			{% set i = i + 1 %}
			{% endfor %}
			{% if i == 0 %}
				<div class="panel-body edu-strip">Data Pengalaman Kerja Masih Kosong</div>
			{% endif %}
		</div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Minat & Keahlian</h3>
      <p>Beritahukan kepada orang lain mengenai bidang yang Anda minati serta keahlian yang Anda miliki.</p>
      <div class="text-left">
      {{ form_start(minat) }}
      {{ form_errors(minat) }}
		<div class="form-group">
			<label for="exampleInputEmail1">Minat dan Keahlian:</label>
			{{ form_widget(minat.expertise) }}
			
			{{ form_errors(minat.expertise) }}
		</div>
		<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
      {{ form_row(minat._token) }}
      {{ form_end(minat) }}
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Video URL</h3>
      <p>Jika Anda memiliki tautan video yang berkaitan dengan minat dan keahlian Anda, Anda bisa menambahkan link URL video tersebut di sini.</p>
      <div class="text-left">
		{{ form_start(url) }}
		{{ form_errors(url) }}
			<div class="form-group">
			<label for="exampleInputEmail1">Judul Video:</label>
			{{ form_widget(url.title) }}
			
			{{ form_errors(url.title) }}
			</div>
			<div class="form-group">
			<label for="exampleInputEmail1">Alamat URL:</label>
			{{ form_widget(url.url) }}
			
			{{ form_errors(url.url) }}
			</div>
		<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
		{{ form_row(url._token) }}
		{{ form_end(url) }}
      </div>
      <br>
		  <hr>
		  <div class="panel panel-info">
		  <div class="panel-heading"><h3>Daftar Video</h3></div>
		  {% set i = 0 %}
		  {% for url in app.user.url %}
				<ul class="list-group text-left">
					<li class="list-group-item">Judul: {{ url.title }}</li>
					<li class="list-group-item">Video: {{ url.url }}</li>
				</ul>
				<div class="panel-body edu-strip">
				</div>
			{% set i = i + 1 %}
			{% endfor %}
			{% if i == 0 %}
				<div class="panel-body edu-strip">Data Video Masih Kosong</div>
			{% endif %}
		</div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
setTimeout(function() {
			$('#message-session').fadeOut('slow');
		}, 3500);
</script>
{% endblock %}
