{% extends 'baseUser.html.twig' %}

{% block body %}
<div class="container">
                    <div class="row">
						{{ form_start(form) }}
						{{ form_errors(form) }}
						<div class="form-group">
								<label for="exampleInputName2">Nama Anda</label>
								{{ form_widget(form.name) }}
							</div>
								{{ form_errors(form.name) }}
						<button type='submit' class='btn btn-primary pull-right'><i class='fa fa-check-square-o'></i> SIMPAN</a>
						{{ form_row(form._token) }}
						{{ form_end(form) }}
                    </div>
</div>
{% endblock %}
