<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2">
	<title>Profile Dosen & Karyawan STKIP Surya</title>
	<link href="{{ asset('bundles/profile/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ asset('bundles/profile/css/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ asset('bundles/profile/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Profile Dosen & Karyawan <br>STKIP SURYA</h1>
                            <div class="description">
                            	<p>
	                            	List data profile Dosen dan Karyawan STKIP SURYA
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        	{% if error %}
								<div class='text-center alert alert-danger'><b>{{ error.messageKey|trans(error.messageData, 'security') }}</b></div>
							{% endif %}
                        		<div class="form-top-left">
                            		<p><h4>Masukan Username dan Password Anda:</h4></p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
								<form action="{{ path('security_login_check') }}" method="post" class="login-form">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
			                    	<div class="form-group">
			                    		<label for="form-username">Username</label>
			                        	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username..." class="form-username form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label for="form-password">Password</label>
			                        	<input type="password" id="password" name="_password" required="required" placeholder="Password..." class="form-password form-control">
			                        </div>
			                        <button type="submit" class="btn btn-info">MASUK!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                 </div>
</body>
</html>
